$text-dark: #1E1E1E;
$text-light: #FEFCFC;
$text-dark-gray: #393939;

$box-shadow-sm: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

$button-primary: #4DE1C1;
$bg-blue: #565ABB;


$font-xl: 22px;
$font-l: 18px;
$font-md: 14px;
$font-sm: 12px;