@import './assets/fonts/fonts';
@import './assets/style/variables';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 100vh;
}

